.photogallery-section {
  display: flex;
  flex-wrap: wrap;
  margin-left: -16px;
  margin-right: -16px;
  &__info {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    bottom: 32px;
    padding: 0 24px;
    z-index: 3;
    .tag {
      margin: 0 auto;
    }
    .h3 {
      color: var(--color-light);
      margin-bottom: 14px;
      font-size: 24px;
    }
  }
  figure {
    display: block;
    margin: 0;
    max-width: 33.333%;
    flex: 0 0 33.333%;
    padding: 0 16px;
    margin-bottom: 32px;
    @media (max-width: 1600px) {
      max-width: 50%;
      flex: 0 0 50%;
    }
    @media (max-width: 940px) {
      max-width: 100%;
      flex: 100%;
    }
  }
  figure a {
    position: relative;
    overflow: hidden;
    display: block;
    width: 100%;
    display: block;
    aspect-ratio: 408/408;
    img {
      width: 100%;
      transition: all 0.3s;
      object-fit: cover;
    }
    &:hover {
      img {
        transform: scale(1.1);
      }
    }
    &::before {
      content: "";
      position: absolute;
      z-index: 2;
      background: linear-gradient(
          180deg,
          rgba(0, 0, 0, 8e-5) 28.06%,
          rgba(0, 0, 0, 0.8) 99.51%
        ),
        rgba(0, 0, 0, 0.3);
      width: 100%;
      height: 100%;
      display: block;
      left: 0;
      top: 0;
    }
  }
}
